---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Cálculo de Volumen">
  <main>
    <div class="flex flex-row justify-start max-w-[120px] absolute p-5">
      <img src="../../public/UMG_LOGO.png" alt="UMG LOGO" />
    </div>
    <div  class="blured"></div>
    <div class="flex flex-col items-center justify-center min-h-screen">
      <h3 class="inline text-left text-5xl mb-8 font-extrabold">
        Calculadora de volúmen de <span>sólidos</span> en revolución
      </h3>
      <div
        id="workspace"
        class="flex flex-row justify-around border-spacing-1 h-96 bg-white border-solid border-1 border-gray-50 p-8 rounded-lg text-black w-1/2"
      >
        <div class="p-4 mb">
          <div class="w-72">
            <div class="relative h-10 w-full min-w-[200px]">
              <label for="radio"><strong>Radio</strong></label>
              <div class="w-full max-w-sm min-w-[200px]">
                <input
                  name="radio"
                  class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
                  placeholder="Radio de la figura"
                />
              </div>
            </div>
          </div>

          <button class="mt-11 w-full relative block group">
            <span class="absolute inset-0 bg-indigo-500 rounded-lg"></span>
            <div
              class="transition bg-black relative border-2 rounded-lg group-hover:-translate-x-2 group-hover:-translate-y-2"
            >
              <div class="p-2">
                <p class="text-xl text-white font-outerSans font-medium">
                  Calcular Volumen
                </p>
              </div>
            </div>
          </button>
          <div class="mt-4">
            <h3 class="text-1xl mb-2 font-extrabold">Cálculo matemático</h3>
            <p>Volumen del esférico: lorem ipsumu²</p>
          </div>
        </div>

        <div class="figura flex flex-col justify-center rounded-lg">
          <img src="../../public/MediaEsfera.png" alt="Esfera" />
        </div>
      </div>
    </div>
  </main>
</Layout>
